@charset "utf-8";
/* CSS Document */

body, td, p{font-family:Tahoma, 돋움; font-size:11px; color:#8b8b8b;}
select {border:solid 1px #393f3f; background:#27282a; height:19px; font-family:Tahoma, 돋움; font-size:11px; color:#8b8b8b;}
input {border:solid 1px #393f3f; background:#27282a; height:19px; font-family:Tahoma, 돋움; font-size:11px; color:#8b8b8b;}
input.none {border:none; background:none;}
input.forum {border:none;background:#999999;color:#000000;}

body,div,form,img,ul,li,dl,dt,dd,h1,h2,h3,h4,p{margin: 0; padding: 0; border: 0;}
ul,li{ list-style:none;}.mainmenu a{ font-size:18px }

textarea.cs {padding:10px;border:none;background:#999999;color:#000000;width:100%;height:180px;}
textarea.csWrite {padding:10px;border:none;background:#999999;color:#000000;width:100%;height:360px;}
textarea.commentWrite {padding:10px;border:none;background:#999999;color:#000000;width:100%;height:60px;}

span.info {color:#14617a;}
span.title {color:#efefef;}
span.warning {color:#ac6d13;}
span.alert {color:#fe8b2e;}

marquee.default {color:#cfcfcf;}

a {text-decoration: none;}
a:link {color:#b7b6b6;}
a:visited {color:#b7b6b6;}
a:active {color:#b7b6b6;}
a:hover {color:#ffffff;}

a.white:link {color:#ffffff;}
a.white:visited {color:#ffffff;}
a.white:active {color:#ffffff;}
a.white:hover {color:#b7b6b6;}

a.blue:link {color:#74badc;}
a.blue:visited {color:#74badc;}
a.blue:active {color:#74badc;}
a.blue:hover {color:#d8f2fe;}

a.orange:link {color:#fe8b2e;}
a.orange:visited {color:#fe8b2e;}
a.orange:active {color:#fe8b2e;}
a.orange:hover {color:#fee4cf;}

.clear {clear:both; overflow:hidden;}
.clear10 {clear:both; height:10px; overflow:hidden;}
.clear20 {clear:both; overflow:hidden;}
.miss {CURSOR:default; color:red; text-align:right}
.winner {CURSOR:default; color:green; text-align:right}


DIV.slider {POSITION: relative; WIDTH: 100%; HEIGHT: 100%; VERTICAL-ALIGN: top;}
DIV.slider DIV.move {POSITION: absolute; BORDER-RIGHT-WIDTH: 2px; BORDER-TOP-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px;}
DIV.slider DIV.stop {POSITION: static; BORDER-RIGHT-WIDTH: 2px; BORDER-TOP-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px;}

.gameBox2 .item2 { margin:5px 2px}
.gameBox2 .item2 .tit{ line-height:30px; height:30px; background:#002F53;}
.gameBox2 .item2 .tit .time{ float:left; width:532px; text-indent:20px; color:#FFA800; font-weight:bold;}
.gameBox2 .item2 .tit .time2{ float:left; width:200px; color:#3298E0; padding-right:20px; line-height:30px; text-align:right;}
.gameBox2 .item2 .line{ border-bottom:#002F53 1px solid; height:1px; overflow:hidden;}
.gameBox2 .item2 .list{ color:#3298E0; width: 422px; margin-bottom:2px;}
.gameBox2 .item2 .list .tit4{ float:left; width:98px; text-align:center;}
.gameBox2 .item2 .list .box4{float:left; margin-left:4px}
.gameBox2 .item2 .list .box4 ul{ text-align:center;}
.gameBox2 .item2 .list .box4 ul li{ float:left; background:#0A69AD; margin-right:2px; margin-bottom:2px; border-bottom:#064069 1px solid; border-right:#064069 1px solid;border-top:#5C9BC8 1px solid; border-left:#5C9BC8 1px solid; color:#fff;}
.gameBox2 .item2 .list .box4 ul .on{background:#0A3E65; border-top:#5C9BC8 1px solid; border-left:#5C9BC8 1px solid; color:#ff7700;}
.gameBox2 .item2 .list .box4 ul .on2{background:#0A3E65; border-top:#5C9BC8 1px solid; border-left:#5C9BC8 1px solid;}
.gameBox2 .item2 .list .box4 .ul2{}
.gameBox2 .item2 .list .box4 .ul2 li{width:146px; _width:148px} /*148*/
.gameBox2 .item2 .list .box4 .ul3{}
.gameBox2 .item2 .list .box4 .ul3 li{width:96px; _width:98px} /*98*/
.gameBox2 .item2 .list .box4 .ul10{}
.gameBox2 .item2 .list .box4 .ul10 li{width:26px; _width:28px} /*28*/
.gameBox2 .item2 .list .xs{ float:left; width:98px; text-align:center;background:#0A3E65;border-bottom:#064069 1px solid; border-right:#064069 1px solid;border-top:#5C9BC8 1px solid; border-left:#5C9BC8 1px solid;}
.gameBox2 .item2 .list .rel{ float:left; width:98px; text-align:center;background:#0A3E65;border-bottom:#064069 1px solid; border-right:#064069 1px solid;border-top:#5C9BC8 1px solid; border-left:#5C9BC8 1px solid; color:#fff;}

.clock_container {}
.clock_container td {font-size:10px;text-align:center;}
.clock_container td.selected {color:#ffffff;}

.container_box {border:solid 1px #4c4c4c;}
.container_eventbox {border:solid 3px #09465c;padding:7px 7px 7px 7px;}

.container_default {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;}
.container_default td {border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding-left:3px;padding-right:3px;}
.container_default td table td {border:none;}
.container_default td.cell {height:28px;}
.container_default td.cell.deepcontent {padding-left:10px;}
.container_default td.cell.deeptitle {padding-left:25px;}
.container_default td.cell.center {text-align:center;}
.container_default td.cell.right {text-align:right;}

.container_default td.cell22 {height:23px;}
.container_default td.cell22.center {text-align:center;}
.container_default td.cell22.right {text-align:right;}

.partner_box {border:solid 4px #fefefe;}
.contentBox {border:solid 1px #1d5671;}

TABLE.contentBox.freeStyle {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;border-bottom:none;border-right:none}
TABLE.contentBox.freeStyle td {border-left:none;border-top:none;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;}
TABLE.contentBox.freeStyle td table.noneBorder {border:none;}
TABLE.contentBox.freeStyle td table.noneBorder td {border:none;}

TABLE.contentBox.fixedStyle {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;border-bottom:none;border-right:none}
TABLE.contentBox.fixedStyle td {border-left:none;border-top:none;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding:1px 1px 1px 25px;height:32px;}
TABLE.contentBox.fixedStyle td table.noneBorder {border:none;}
TABLE.contentBox.fixedStyle td table.noneBorder td {border:none;padding:0;height:auto;}

TABLE.gameListOverview {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;}
TABLE.gameListOverview TD {padding:1px;height:28px;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;VERTICAL-ALIGN:middle;CURSOR:hand;TEXT-DECORATION:none;}
TABLE.gameListOverview TD.normal {CURSOR:default;}

TABLE.gameCurrentHeader {background:#0b2442;border-top:solid #384c65 1px;border-bottom:solid #384c65 1px;width:100%;height:32px;table-layout:fixed;}
TABLE.gameCurrentHeader td {text-align:center;}

TABLE.gameCurrentList {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;width:100%;}
TABLE.gameCurrentList TD {height:26px;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding:0;VERTICAL-ALIGN:middle;CURSOR:hand;TEXT-DECORATION:none;color:#b7b6b6;}
TABLE.gameCurrentList TR.disabled TD {padding:1px;BACKGROUND-COLOR:#062b38;COLOR:#686868;CURSOR:default;}
TABLE.gameCurrentList TR.disabled TD TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.disabled TD TABLE.teamName TD {border:none;}
TABLE.gameCurrentList TR.disabled TD TABLE.normal {width:100%;}
TABLE.gameCurrentList TR.disabled TD TABLE.normal TD {border:none;}

TABLE.gameCurrentList TR.disabled1 TD {padding:1px;BACKGROUND-COLOR:#252525;COLOR:#686868;CURSOR:default;}
TABLE.gameCurrentList TR.disabled1 TD TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.disabled1 TD TABLE.teamName TD {border:none;}
TABLE.gameCurrentList TR.disabled1 TD TABLE.normal {width:100%;}
TABLE.gameCurrentList TR.disabled1 TD TABLE.normal TD {border:none;}

TABLE.gameCurrentList TR.row1 TD {padding:1px;}
TABLE.gameCurrentList TR.row1 TD TABLE.normal {width:100%;}
TABLE.gameCurrentList TR.row1 TD TABLE.normal TD {border:none;CURSOR:default;}
TABLE.gameCurrentList TR.row1 TD.normal {CURSOR:default;}
TABLE.gameCurrentList TR.row1 TD.disableCell {BACKGROUND:#252525;COLOR:#686868;CURSOR:default;}
TABLE.gameCurrentList TR.row1 TD.disableCell TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.row1 TD.disableCell TABLE.teamName TD {border:none;CURSOR:default;}


TABLE.gameCurrentList TR.row1 TD.mouseOutColor {BACKGROUND:#2e0920;}
TABLE.gameCurrentList TR.row1 TD.mouseOutColor TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.row1 TD.mouseOutColor TABLE.teamName TD {border:none;}
TABLE.gameCurrentList TR.row1 TD.mouseOverColor {BACKGROUND:#5d083d;}
TABLE.gameCurrentList TR.row1 TD.mouseOverColor TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.row1 TD.mouseOverColor TABLE.teamName TD {border:none;}
TABLE.gameCurrentList TR.row1 TD.selectTeam {BACKGROUND:#2c3701;}
TABLE.gameCurrentList TR.row1 TD.selectTeam TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.row1 TD.selectTeam TABLE.teamName TD {border:none;}

TABLE.gameCurrentList TR.row1 TD.extended {border-right:none;padding:0;CURSOR:default;}
TABLE.gameCurrentList TR.row1 TD.extended TABLE {border:none;width:100%;}
TABLE.gameCurrentList TR.row1 TD.extended TABLE TD {border-left:none;border-top:none;border-bottom:none;}
TABLE.gameCurrentList TR.row1 TD.extended TABLE TD.mouseOutColor {BACKGROUND:#2e0920;}
TABLE.gameCurrentList TR.row1 TD.extended TABLE TD.mouseOutColor TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.row1 TD.extended TABLE TD.mouseOutColor TABLE.teamName TD {border:none;}
TABLE.gameCurrentList TR.row1 TD.extended TD.mouseOverColor {BACKGROUND:#5d083d;}
TABLE.gameCurrentList TR.row1 TD.extended TD.mouseOverColor TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.row1 TD.extended TD.mouseOverColor TABLE.teamName TD {border:none;}
TABLE.gameCurrentList TR.row1 TD.extended TABLE TD.selectTeam {BACKGROUND:#2c3701;}
TABLE.gameCurrentList TR.row1 TD.extended TABLE TD.selectTeam TABLE.teamName {width:100%;}
TABLE.gameCurrentList TR.row1 TD.extended TABLE TD.selectTeam TABLE.teamName TD {border:none;}

TABLE.gameCurrentList TR.disabled1 TD.miss {CURSOR:default; color:red;}
TABLE.gameCurrentList TR.disabled1 TD.winner {CURSOR:default; color:green;}


TABLE.gameResultHeader {background:#0e2630;border-top:solid #434a54 1px;border-bottom:solid #434a54 1px;width:100%;height:32px;table-layout:fixed;}
TABLE.gameResultHeader td {text-align:center;}

TABLE.csContainer {border:solid 1px #393939;BACKGROUND:#212121;width:100%;}
TABLE.csContainer td.contentBox {border-top:none;border-left:solid 1px #3b3b3b;border-bottom:solid 1px #3b3b3b;border-right:solid 1px #3b3b3b;BACKGROUND:#2e2e2e;padding:10px;}

TABLE.boardContainer {border:solid 1px #393939;BACKGROUND:#212121;width:100%;}

TABLE.boardForumHeader {background:#076f7e;border-top:solid #56a4af 1px;border-bottom:solid #56a4af 1px;width:100%;height:32px;table-layout:fixed;}
TABLE.boardForumHeader td {text-align:center;font-size:11px;}
TABLE.boardForumList {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;width:100%;}
TABLE.boardForumList TD {height:26px;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding:1px;VERTICAL-ALIGN:middle;CURSOR:default;TEXT-DECORATION:none;}
TABLE.boardForumList TR.row1 TD.normal {BACKGROUND-COLOR: #1d2934;}
TABLE.boardForumList TR.row2 TD.normal {BACKGROUND-COLOR: #131f2a;}
TABLE.boardForumList TR.notice_off TD.normal {BACKGROUND-COLOR: #03314b;}
TABLE.boardForumList TR.content_off TD.normal {BACKGROUND-COLOR: #1e1e1e;}
TABLE.boardForumList TR.notice_on TD.normal {BACKGROUND-COLOR: #012031;}
TABLE.boardForumList TR.content_on TD.normal {BACKGROUND-COLOR: #2c2c2c;}

TABLE.myacctHeader {background:#113149;border-top:solid #3b586d 1px;border-bottom:solid #3b586d 1px;width:100%;height:32px;table-layout:fixed;}
TABLE.myacctHeader td {text-align:center;font-size:11px;}
TABLE.myacctList {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;width:100%;}
TABLE.myacctList TD {HEIGHT:28px;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding:2;VERTICAL-ALIGN:middle;CURSOR:default;TEXT-DECORATION:none;}
TABLE.myacctList TR.row1 TD {BACKGROUND-COLOR: #1d1d1d;}
TABLE.myacctList TR.row2 TD {BACKGROUND-COLOR:none;}

TABLE.betInfoList {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;width:100%;}
TABLE.betInfoList TD {height:26px;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding:0;VERTICAL-ALIGN:middle;CURSOR:hand;TEXT-DECORATION:none;}
TABLE.betInfoList TR.disabled1 TD {padding:1px;BACKGROUND-COLOR:#252525;COLOR:#686868;CURSOR:default;}
TABLE.betInfoList TR.disabled1 TD TABLE.teamName {width:100%;}
TABLE.betInfoList TR.disabled1 TD TABLE.teamName TD {border:none;}
TABLE.betInfoList TR.disabled1 TD TABLE.normal {width:100%;}
TABLE.betInfoList TR.disabled1 TD TABLE.normal TD {border:none;}
TABLE.betInfoList TR.row1 TD {padding:5px; BACKGROUND-COLOR:#151515;CURSOR:default;}
TABLE.betInfoList TR.row1 TD TABLE.normal {width:100%;}
TABLE.betInfoList TR.row1 TD TABLE.normal TD {border:none;CURSOR:default;}
TABLE.betInfoList TR.row1 TD.normal {CURSOR:default;}
TABLE.betInfoList TR.row1 TD.disableCell {BACKGROUND:#252525;COLOR:#686868;CURSOR:default;}
TABLE.betInfoList TR.row1 TD.disableCell TABLE.teamName {width:100%;}
TABLE.betInfoList TR.row1 TD.disableCell TABLE.teamName TD {border:none;CURSOR:default;}
TABLE.betInfoList TR.row1 TD.mouseOutColor {BACKGROUND:#151515;}
TABLE.betInfoList TR.row1 TD.mouseOutColor TABLE.teamName {width:100%;}
TABLE.betInfoList TR.row1 TD.mouseOutColor TABLE.teamName TD {border:none;}
TABLE.betInfoList TR.row1 TD.selectTeam {BACKGROUND:#90b21b;COLOR:#090909;}
TABLE.betInfoList TR.row1 TD.selectTeam TABLE.teamName {width:100%;}
TABLE.betInfoList TR.row1 TD.selectTeam TABLE.teamName TD {border:none;BACKGROUND:#90b21b;COLOR:#090909;}

TABLE.betInfoList TR.row1 TD.extended {border-right:none;padding:0;CURSOR:default;}
TABLE.betInfoList TR.row1 TD.extended TABLE {border:none;width:100%;}
TABLE.betInfoList TR.row1 TD.extended TABLE TD {border-left:none;border-top:none;border-bottom:none;}
TABLE.betInfoList TR.row1 TD.extended TABLE TD.mouseOutColor {BACKGROUND:#151515;}
TABLE.betInfoList TR.row1 TD.extended TABLE TD.mouseOutColor TABLE.teamName {width:100%;}
TABLE.betInfoList TR.row1 TD.extended TABLE TD.mouseOutColor TABLE.teamName TD {border:none;}
TABLE.betInfoList TR.row1 TD.extended TABLE TD.selectTeam {BACKGROUND:#90b21b;COLOR:#090909;}
TABLE.betInfoList TR.row1 TD.extended TABLE TD.selectTeam TABLE.teamName {width:100%;}
TABLE.betInfoList TR.row1 TD.extended TABLE TD.selectTeam TABLE.teamName TD {border:none;BACKGROUND:#90b21b;COLOR:#090909;}


TABLE.betInfoDetailBox {border:solid 1px #5e737a;BACKGROUND:#003450;width:100%;}
TABLE.betInfoDetailBox TD {CURSOR:default;color:#94a9b6;}

TABLE.informationHeader {BACKGROUND-COLOR: #1d1d1d; border-top:solid #4c4c4c 1px;border-bottom:solid #4c4c4c 1px;width:100%;height:28px;table-layout:fixed;}
TABLE.informationHeader td {text-ALIGN:center;font-size:11px;color:#efefef;}
TABLE.information {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;width:100%;}
TABLE.information TD {height:26px;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding:3;text-ALIGN:center;VERTICAL-ALIGN:middle;}
TABLE.information TH {border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding:3;text-ALIGN:center;VERTICAL-ALIGN:middle;color:#d1d1d1;background:#282828;}
TABLE.information TR.disabled1 TD {BACKGROUND-COLOR:none;}
TABLE.information TR.row1 TD {BACKGROUND-COLOR:#282828;}
TABLE.information1 {border-left:solid 1px #4c4c4c;border-top:solid 1px #4c4c4c;width:100%;}
TABLE.information1 TD {HEIGHT:24px;border-bottom:solid 1px #4c4c4c;border-right:solid 1px #4c4c4c;padding:4px;}
TABLE.information1 TR.row1 TD {BACKGROUND-COLOR: #1d1d1d;}
TABLE.information1 TR.row2 TD {BACKGROUND-COLOR:none;}

TABLE.depositHeader {background:#46483f;border-top:solid #6d7782 1px;border-bottom:solid #6d7782 1px;width:100%;height:32px;table-layout:fixed;}
TABLE.depositHeader td {text-align:center;font-size:11px;}

TABLE.refundHeader {background:#342722;border-top:solid #776860 1px;border-bottom:solid #776860 1px;width:100%;height:32px;table-layout:fixed;}
TABLE.refundHeader td {text-align:center;font-size:11px;}

